@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Light/Plumb-Light.woff") format("woff"),
    url("../fonts/Plumb-Light/Plumb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Regular/Plumb-Regular.woff") format("woff"),
    url("../fonts/Plumb-Regular/Plumb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Medium/Plumb-Medium.woff") format("woff"),
    url("../fonts/Plumb-Medium/Plumb-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Bold/Plumb-Bold.woff") format("woff"),
    url("../fonts/Plumb-Bold/Plumb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Black/Plumb-Black.woff") format("woff"),
    url("../fonts/Plumb-Black/Plumb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Plumb";
  src: url("../fonts/Plumb-Black/Plumb-Black.woff") format("woff"),
    url("../fonts/Plumb-Black/Plumb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("../fonts/SF-Compact-Display-Light/SF-Compact-Display-Light.woff")
      format("woff"),
    url("../fonts/SF-Compact-Display-Light/SF-Compact-Display-Light.woff2")
      format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("../fonts/SF-Compact-Display-Bold/SF-Compact-Display-Bold.woff")
      format("woff"),
    url("../fonts/SF-Compact-Display-Bold/SF-Compact-Display-Bold.woff2")
      format("woff2");
  font-weight: 900;
  font-style: normal;
}
