html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: 'Plumb', Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: $text-white;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../img/bg/bg-main.png') no-repeat center;
  background-size: cover;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: $text-white;
}

h1,
h2,
h3,
p {
  margin: 0;
}
