.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.page-header__logo {
  font-family: "SF Compact Display", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18.5px;
  color: $text-dark;
  line-height: 46px;
  background: url("../img/logo.svg") no-repeat left;
  padding-left: 50px;

  & span {
    & span {
      font-weight: 900;
    }
  }
}

.page-header__header {
  display: none;
}
