@media only screen and (max-width: 480px) {
  .btn-contacts {
    padding-left: 11px;
  }

  .btn-wrapper .contacts-container {
    height: 50px;
    left: auto;
    opacity: 0;
    -webkit-transition-property: height, opacity;
    transition-property: height, opacity;
    -webkit-transition-duration: 0.9s, 0.1s;
    transition-duration: 0.9s, 0.1s;
    -webkit-transition-delay: 0s, 0.9s;
    transition-delay: 0s, 0.9s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
  }
  .btn-wrapper .contacts-container.active {
    height: 457px;
    width: 52px;
    left: auto;
    opacity: 1;
    -webkit-transition-duration: 0.9s, 0s;
    transition-duration: 0.9s, 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }
  .btn-wrapper .contacts-item {
    -webkit-transition-property: top;
    transition-property: top;
    left: 0;
  }
  .btn-wrapper .contacts-item.active:nth-child(1) {
    top: 45px;
  }
  .btn-wrapper .contacts-item.active:nth-child(2) {
    top: 90px;
  }
  .btn-wrapper .contacts-item.active:nth-child(3) {
    top: 135px;
  }
  .btn-wrapper .contacts-item.active:nth-child(4) {
    top: 180px;
  }
  .btn-wrapper .contacts-item.active:nth-child(5) {
    top: 225px;
  }
  .btn-wrapper .contacts-item.active:nth-child(6) {
    top: 270px;
  }
  .btn-wrapper .contacts-item.active:nth-child(7) {
    top: 315px;
  }
  .btn-wrapper .contacts-item.active:nth-child(8) {
    top: 360px;
  }
  .btn-wrapper .contacts-item.active:nth-child(9) {
    top: 405px;
  }
}
