@media only screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
  }

  .page-header {
    padding: 15px 100px;
  }

  .page-header__logo {
    padding-left: 125px;
    line-height: 105px;
    background-size: 45%;
    margin-right: -235px;
  }

  .page-header__header {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: $bg-color-2;
  }

  .page-header__subheader {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}
