.page-main__header {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.8rem;
  grid-area: header;
  margin-bottom: 2rem;
}

.page-main__subheader {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.1rem;
  padding-left: 2rem;
  grid-area: subheader;

  & span {
    color: $text-alt;
    font-size: 2.6rem;
  }
}

.page-main__img {
  height: 350px;
  grid-area: img;
}

.page-main__futures {
  font-size: 1.2rem;
  padding-left: 2rem;
  grid-area: list;

  & li {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    margin-bottom: 2rem;

    &:nth-child(1) {
      background: url('../img/icons/feature-1.svg') no-repeat left;
    }

    &:nth-child(2) {
      background: url('../img/icons/feature-2.svg') no-repeat left;
    }

    &:nth-child(3) {
      background: url('../img/icons/feature-3.svg') no-repeat left;
    }
  }
}

.page-main__stores {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: stores;
}

.page-main__stores--item {
  width: 96px;
  height: 31px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:nth-child(1) {
    background: url('../img/bg/bg-appstore.svg') no-repeat center;
    background-size: contain;
    margin-bottom: 1em;
  }

  &:nth-child(2) {
    background: url('../img/bg/bg-playmarket.svg') no-repeat center;
    background-size: contain;
  }
}

.page-main__btn {
  width: 286px;
  line-height: 42px;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.5em;
  background-color: #00a3ff;
  grid-area: btn;
  justify-self: center;
  align-self: center;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: #ff7f3b;
  }

  &:active {
    box-shadow: inset 6px 10px 2px rgba(255, 131, 59, 0.5),
      inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.page-main {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 123px 157px;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'img subheader'
    'img list'
    'img stores'
    'btn btn';
  padding: 0 2rem;

  &::after {
    position: absolute;
    content: '';
    width: 181px;
    height: 350px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/bg/bg-phone.png') no-repeat;
    background-size: contain;
    margin-left: -95px;
  }
}

.page-main-maint {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url('../img/bg/bg-maintenance.svg') no-repeat center;
  background-size: contain;
  filter: drop-shadow(0 0 3px rgba(100, 0, 0, 0.5));
  cursor: pointer;

  & p {
    width: 110px;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 10rem;
    margin-right: 16rem;
  }
}

@media only screen and (min-width: 375px) {
  .page-main {
    grid-template-columns: 123px 212px;

    &::after {
      top: 90px;
      margin-left: -125px;
    }
  }

  .page-main__header {
    margin-bottom: 4rem;
  }

  .page-main__subheader,
  .page-main__futures,
  .page-main__stores {
    padding-left: 3rem;
  }

  .page-main__stores {
    align-items: flex-start;
  }

  .page-main__btn {
    margin-top: 3rem;
  }
}
